<div class="col s12 m12 l12">
  <p id="notice"><%= notice %></p>
</div>
<div class="col hide-on-small-and-below m1 l1">&nbsp;</div>
<div class="col s12 m10 l10">
  <div class="center">
    <%= image_tag(@user.image,:class=>"responsive-img profile-pic") %>
  </div>
  <div class="center">
    <h5>My Entries</h5>
  </div>
  <div class="blankdata">
    <p class="nocontest center">You haven't participated in any contest. <%= link_to "Click here","/" %> for ongoing contest lists</p>
  </div>
</div>
<div class="col hide-on-small-and-below m1 l1">&nbsp;</div>