<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8">
	<div class="center">
		<h5>Update Contest</h5>
	</div>
	<div>
		<%= render 'form' %>
	</div>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>


