<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8">
	<div class="center">
		<h5>Add new Contest</h5><%= link_to "Admin Panel","/admin" %>
	</div>
	<div>
		<%= render 'form' %>
	</div>
	<div>
		<%#= link_to 'Back', contests_path %>
	</div>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>


