<div class="col s12 m12 l12 center">
  <p id="notice"><%= notice %></p>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8 blankdata">
	<p class="nocontest center">You are not admin.</p>
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>