<div class="row">
	<div class="col hide-on-small-and-down m1 l1 center">&nbsp;</div>
	<div class="col s12 m10 l10 blankdata">
		<p class="nocontest center">No Contests available right now, please visit after sometime.</p>
	</div>
	<div class="col hide-on-small-and-down m1 l1 center">&nbsp;</div>
</div>