<div class="col m1 l1">&nbsp;</div>
<div class="col s12 m10 l10">
	<div class="row" style="margin-bottom:10px !important;">
		<div class="col s12 m12 l12 center white">
			<!--h5 class="errhead">INTERNAL SERVER ERROR</h5-->
		</div>
	</div>
	<!--div class="col m6 l6 hide-on-small-only">
		<a href=""></a>
	</div-->
	<div class="row" style="margin-bottom:0px !important;">
		<div class="col s12 m12 l12 center white errbody">
			<div style="padding-top:20px;padding-bottom:20px;">
				<p>Something went wrong, please try after sometime.</p>
				<p><a href="/">Home</a></p>
			</div>
		</div>
	</div>
</div>
<div class="col m1 l1">&nbsp;</div>