<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>
<div class="col s12 m8 l8">
	<table>
		<tr>
			<td class="center"><%= link_to "Results",winners_path%></td>
			<td class="center"><%= link_to "Terms and Conditions","/pages/tnc"%></td>
			<td class="center"><%= link_to "Report a Problem", new_problem_path %></td>
		</tr>
	</table>
	<p class="right">Created and Maintained by <a href="http://www.11d.co">11d Technologies</a></p>
	<!--p class="right">Created and Maintained by <%#= link_to(image_tag("logo/11d.png"))%></p-->
</div>
<div class="col hide-on-small-and-below m2 l2">&nbsp;</div>